{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
	.topnav-right {
		float: right;
	}

	.fancy {
		@supports (background-clip: text) or (-webkit-background-clip: text) {
			background-image:
				url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-size: 110% auto;
			background-position: center;
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
	}

	h1 {
		--s: 0.1em;
		/* the thickness of the line */
		--c: #50394c;
		/* the color */

		color: #0000;
		padding-bottom: var(--s);
		background:
			linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
			linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
		-webkit-background-clip: text, padding-box;
		background-clip: text, padding-box;
		transition: 0.5s;
		font-family: system-ui, sans-serif;
		font-size: 5rem;
		cursor: pointer;
	}

	h1:hover {
		--_p: 100%
	}

</style>
<div class="welcome">
	<p id="welcome-first">Confused with sign language?</p>
	<p id="welcome-second">Let us help.</p>
</div>
<div align="middle">
	<a href="{% url 'animation' %}"><button style="
		margin-top: 20px;
		padding: 10px 25px 15px 25px;
		background: #FF7A7A;
		border-bottom: none;
		border-top-style: none;
		border-right-style: none;
		border-left-style: none;
		border-radius: 60px;
		color: white;
	  font-weight: bold;
	  font-size: 40px;
	  font-family: Inter;">></button></a>
</div>
{% endblock %}